nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rebeccapurple;
  padding: 5px;
}

nav .logo {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 60px;
}

nav ul a {
  color: white;
  text-decoration: none;
}
